$corMensagem: green;
$corFundo: black;
$vermelho: #C23127;
$laranja: #D3593A;
$laranjaClaro: #DF9C6A;
$bege: #E7D4A7;
$azulEscuro: #091C3F;
$azulClaro: #2A647D;
$ciano: #3D8587;
$cianoClaro: #75A39A;
$cinza: #D5CDBE;
$fontePadrao: "Notable", sans-serif;