<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YVD - YouTube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper">
        <div class="container">
            <img src="{{ url_for('static', filename='images/yvd_logo.png') }}" alt="Logo YVD" id="logo">
            <h1><span class="txt_vermelho">YouTube</span> <span class="txt_laranja">Video</span> Downloader</h1>
            <form id="download-form">
                <input type="text" id="url" placeholder="Enter YouTube URL">
                <img id="thumbnail" src="" alt="Video Thumbnail" style="display: none; margin-top: 20px;" data-url="">
                <button type="submit"><span class="txt_vermelho">D</span><span class="txt_laranja">o</span>wnload</button>
            </form>
        </div>
        <div id="message"></div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
